body {
    margin: 0, 1500px, 0, 1500px;
}

#nav-logo {
    max-height: 50px;
    padding: 10px;
}

#main-nav {
    background-color: #252525;
}

.logo {
    max-height: 45px;
}

p {
    margin: 10px;
}

.hero {
    margin-bottom: 50px;
}

footer {
    background-color: #252525;

}


/*
INVENTORY
*/
#InventoryList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	grid-gap: 0.5em;
}

.card {
    min-width: 10rem;
}

.media {
    text-align: center;
    align-items: center;
}