html {
    overflow: hidden;
}

body {
    max-height: 100vh;
    background-image: url(./img/image1.jpg);
    z-index: 999;
    background-position: center;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}

p {
    color: #9F9F9F;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}

.overlay {
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    margin: auto;
    padding-top: 18vh;
}

.card {
    padding: 70px 20px 5px 20px;
    margin: 30px;
    border-radius: 60px;
    background-color: #232627;
    color: #fff;
}

.card-title {
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}

.card-text {
    font-weight: normal;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 15px;
}

.button {
    color: #fff;
    padding-top: 10vh;
}